*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: Arial, verdana, helvetica, sans-serif;
    --fonte-destaque:

}

.cabecalho{
    background-color: var(--cor4);
    color: white;
    text-align: center;
}

.navegacao{
    text-align: left;
    text-decoration: none;
    padding: 0px 0px 10px 5px ;
    margin-bottom: 2px;
    
}

.navegacao a{
    padding: 0px 5px 0px 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    min-width: 300px;
    

}

.cabecalho-titulo{
    padding: 20px 0px;
}

.cabecalho-subtitulo{
    font-size: 15px;
    padding: 10px 0px 35px 0px;
}
main{
    background-color: var(--cor0);
    max-width: 1000px;
    min-width: 280px;
    margin: auto;
    padding: 20px;
     text-align: justify;

}

main img {
    display: block;
    margin: auto;
    
}
main h1 , h2 , h3 , p{
    padding: 15px;
}
